-- Name: about; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.about (
    id integer DEFAULT 1 NOT NULL,
    content text NOT NULL,
    updated_at timestamp with time zone DEFAULT now(),
    image_url text,
    tags text[]
);


ALTER TABLE public.about OWNER TO postgres;

--
-- Name: about_content; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.about_content (
    id uuid NOT NULL,
    headline_main text,
    headline_code_keyword text,
    headline_connector text,
    headline_creativity_keyword text,
    paragraph1 text,
    paragraph2 text,
    paragraph3 text,
    image_url text,
    image_tagline text,
    updated_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);


ALTER TABLE public.about_content OWNER TO postgres;

--
-- Name: admin_activity_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admin_activity_log (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "timestamp" timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    user_identifier text,
    action_type text NOT NULL,
    description text NOT NULL,
    details jsonb,
    is_read boolean DEFAULT false
);


ALTER TABLE public.admin_activity_log OWNER TO postgres;

--
-- Name: admin_profile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admin_profile (
    id uuid NOT NULL,
    profile_photo_url text,
    updated_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);


ALTER TABLE public.admin_profile OWNER TO postgres;

--
-- Name: certifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.certifications (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title text NOT NULL,
    issuer text NOT NULL,
    date text NOT NULL,
    image_url text,
    verify_url text,
    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);


ALTER TABLE public.certifications OWNER TO postgres;

--
-- Name: contact_page_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.contact_page_details (
    id uuid NOT NULL,
    address text,
    phone text,
    phone_href text,
    email text,
    email_href text,
    updated_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);


ALTER TABLE public.contact_page_details OWNER TO postgres;

--
-- Name: contact_submissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.contact_submissions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    subject text,
    message text NOT NULL,
    phone_number text,
    status text DEFAULT 'New'::text,
    is_starred boolean DEFAULT false,
    submitted_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    notes text
);


ALTER TABLE public.contact_submissions OWNER TO postgres;

--
-- Name: hero_content; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hero_content (
    id uuid NOT NULL,
    main_name text,
    subtitles text[],
    social_media_links jsonb,
    updated_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);


ALTER TABLE public.hero_content OWNER TO postgres;

--
-- Name: legal_documents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.legal_documents (
    id text NOT NULL,
    title text NOT NULL,
    content text,
    updated_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);


ALTER TABLE public.legal_documents OWNER TO postgres;

--
-- Name: project_views; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project_views (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    project_id uuid,
    viewed_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    viewer_identifier text
);


ALTER TABLE public.project_views OWNER TO postgres;

--
-- Name: projects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.projects (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title text NOT NULL,
    description text,
    image_url text,
    live_demo_url text,
    repo_url text,
    tags text[],
    status text,
    progress integer,
    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);


ALTER TABLE public.projects OWNER TO postgres;

--
-- Name: resume_downloads; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resume_downloads (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    downloaded_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    downloader_identifier text
);


ALTER TABLE public.resume_downloads OWNER TO postgres;

--
-- Name: resume_education; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resume_education (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    degree_or_certification text NOT NULL,
    institution_name text NOT NULL,
    date_range text,
    description text,
    icon_image_url text,
    sort_order integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);


ALTER TABLE public.resume_education OWNER TO postgres;

--
-- Name: resume_experience; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resume_experience (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    job_title text NOT NULL,
    company_name text NOT NULL,
    date_range text,
    description_points text[],
    icon_image_url text,
    sort_order integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);


ALTER TABLE public.resume_experience OWNER TO postgres;

--
-- Name: resume_key_skill_categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resume_key_skill_categories (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    category_name text NOT NULL,
    icon_image_url text,
    sort_order integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);


ALTER TABLE public.resume_key_skill_categories OWNER TO postgres;

--
-- Name: resume_key_skills; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resume_key_skills (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    skill_name text NOT NULL,
    category_id uuid
);


ALTER TABLE public.resume_key_skills OWNER TO postgres;

--
-- Name: resume_languages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resume_languages (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    language_name text NOT NULL,
    proficiency text,
    icon_image_url text,
    sort_order integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);


ALTER TABLE public.resume_languages OWNER TO postgres;

--
-- Name: resume_meta; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resume_meta (
    id uuid NOT NULL,
    description text,
    resume_pdf_url text,
    updated_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);


ALTER TABLE public.resume_meta OWNER TO postgres;

--
-- Name: site_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.site_settings (
    id text NOT NULL,
    is_maintenance_mode_enabled boolean DEFAULT false NOT NULL,
    maintenance_message text,
    updated_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    is_analytics_tracking_enabled boolean DEFAULT true NOT NULL
);


ALTER TABLE public.site_settings OWNER TO postgres;

--
-- Ensuring the default global_settings row exists
--

INSERT INTO public.site_settings (id, is_maintenance_mode_enabled, maintenance_message, is_analytics_tracking_enabled, updated_at)
VALUES ('global_settings', false, 'Site is currently under maintenance. We will be back shortly.', true, NOW())
ON CONFLICT (id) DO NOTHING;

--
-- RLS policies for site_settings
--

-- Enable RLS for the site_settings table if not already enabled
ALTER TABLE public.site_settings ENABLE ROW LEVEL SECURITY;

-- Policy to allow authenticated users to update the 'global_settings' row
CREATE POLICY "Allow authenticated to update global_settings"
ON public.site_settings
FOR UPDATE TO authenticated
USING (id = 'global_settings')
WITH CHECK (id = 'global_settings');

-- Optional: Policy to allow public/anonymous read access to global_settings if needed by client before auth
-- CREATE POLICY "Allow public read access to global_settings"
-- ON public.site_settings
-- FOR SELECT TO anon, authenticated
-- USING (id = 'global_settings');

--
-- Name: skill_categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.skill_categories (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    icon_image_url text,
    sort_order integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);


ALTER TABLE public.skill_categories OWNER TO postgres;

--
-- Name: skill_interactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.skill_interactions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    skill_id uuid,
    interaction_type text DEFAULT 'view'::text,
    interacted_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    viewer_identifier text
);


ALTER TABLE public.skill_interactions OWNER TO postgres;

--
-- Name: skills; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.skills (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    icon_image_url text,
    description text,
    category_id uuid,
    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);


ALTER TABLE public.skills OWNER TO postgres;

--
-- Name: social_links; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.social_links (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    label text NOT NULL,
    icon_image_url text,
    url text NOT NULL,
    display_text text,
    sort_order integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);


ALTER TABLE public.social_links OWNER TO postgres;

--
-- Name: timeline_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.timeline_events (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    date text NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    icon_image_url text,
    type text NOT NULL,
    sort_order integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);


ALTER TABLE public.timeline_events OWNER TO postgres;

--
-- Name: visitor_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.visitor_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    visited_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
    device_type text,
    path_visited text,
    user_agent_string text,
    viewer_identifier text
);


ALTER TABLE public.visitor_logs OWNER TO postgres;

--
-- Name: about_content about_content_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.about_content
    ADD CONSTRAINT about_content_pkey PRIMARY KEY (id);


--
-- Name: about about_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.about
    ADD CONSTRAINT about_pkey PRIMARY KEY (id);


--
-- Name: admin_activity_log admin_activity_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_activity_log
    ADD CONSTRAINT admin_activity_log_pkey PRIMARY KEY (id);


--
-- Name: admin_profile admin_profile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_profile
    ADD CONSTRAINT admin_profile_pkey PRIMARY KEY (id);


--
-- Name: certifications certifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.certifications
    ADD CONSTRAINT certifications_pkey PRIMARY KEY (id);


--
-- Name: contact_page_details contact_page_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contact_page_details
    ADD CONSTRAINT contact_page_details_pkey PRIMARY KEY (id);


--
-- Name: contact_submissions contact_submissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contact_submissions
    ADD CONSTRAINT contact_submissions_pkey PRIMARY KEY (id);


--
-- Name: hero_content hero_content_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hero_content
    ADD CONSTRAINT hero_content_pkey PRIMARY KEY (id);


--
-- Name: legal_documents legal_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.legal_documents
    ADD CONSTRAINT legal_documents_pkey PRIMARY KEY (id);


--
-- Name: project_views project_views_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_views
    ADD CONSTRAINT project_views_pkey PRIMARY KEY (id);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: resume_downloads resume_downloads_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resume_downloads
    ADD CONSTRAINT resume_downloads_pkey PRIMARY KEY (id);


--
-- Name: resume_education resume_education_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resume_education
    ADD CONSTRAINT resume_education_pkey PRIMARY KEY (id);


--
-- Name: resume_experience resume_experience_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resume_experience
    ADD CONSTRAINT resume_experience_pkey PRIMARY KEY (id);


--
-- Name: resume_key_skill_categories resume_key_skill_categories_category_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resume_key_skill_categories
    ADD CONSTRAINT resume_key_skill_categories_category_name_key UNIQUE (category_name);


--
-- Name: resume_key_skill_categories resume_key_skill_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resume_key_skill_categories
    ADD CONSTRAINT resume_key_skill_categories_pkey PRIMARY KEY (id);


--
-- Name: resume_key_skills resume_key_skills_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resume_key_skills
    ADD CONSTRAINT resume_key_skills_pkey PRIMARY KEY (id);


--
-- Name: resume_languages resume_languages_language_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resume_languages
    ADD CONSTRAINT resume_languages_language_name_key UNIQUE (language_name);


--
-- Name: resume_languages resume_languages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resume_languages
    ADD CONSTRAINT resume_languages_pkey PRIMARY KEY (id);


--
-- Name: resume_meta resume_meta_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resume_meta
    ADD CONSTRAINT resume_meta_pkey PRIMARY KEY (id);


--
-- Name: skill_categories skill_categories_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.skill_categories
    ADD CONSTRAINT skill_categories_name_key UNIQUE (name);


--
-- Name: skill_categories skill_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.skill_categories
    ADD CONSTRAINT skill_categories_pkey PRIMARY KEY (id);


--
-- Name: skill_interactions skill_interactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.skill_interactions
    ADD CONSTRAINT skill_interactions_pkey PRIMARY KEY (id);


--
-- Name: skills skills_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.skills
    ADD CONSTRAINT skills_pkey PRIMARY KEY (id);


--
-- Name: social_links social_links_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.social_links
    ADD CONSTRAINT social_links_pkey PRIMARY KEY (id);


--
-- Name: timeline_events timeline_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.timeline_events
    ADD CONSTRAINT timeline_events_pkey PRIMARY KEY (id);


--
-- Name: visitor_logs visitor_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.visitor_logs
    ADD CONSTRAINT visitor_logs_pkey PRIMARY KEY (id);


--
-- Name: project_views project_views_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_views
    ADD CONSTRAINT project_views_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: resume_key_skills resume_key_skills_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resume_key_skills
    ADD CONSTRAINT resume_key_skills_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.resume_key_skill_categories(id) ON DELETE CASCADE;


--
-- Name: skill_interactions skill_interactions_skill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.skill_interactions
    ADD CONSTRAINT skill_interactions_skill_id_fkey FOREIGN KEY (skill_id) REFERENCES public.skills(id) ON DELETE SET NULL;


--
-- Name: skills skills_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.skills
    ADD CONSTRAINT skills_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.skill_categories(id) ON DELETE CASCADE;


--
-- Name: about Allow read access to everyone; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow read access to everyone" ON public.about FOR SELECT USING (true);


--
-- Name: admin_profile Authenticated admin can manage the single admin_profile row; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Authenticated admin can manage the single admin_profile row" ON public.admin_profile TO authenticated USING (((id = '00000000-0000-0000-0000-00000000000a'::uuid) AND (auth.role() = 'authenticated'::text))) WITH CHECK (((id = '00000000-0000-0000-0000-00000000000a'::uuid) AND (auth.role() = 'authenticated'::text)));


--
-- Name: admin_profile Authenticated admin can manage their profile; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Authenticated admin can manage their profile" ON public.admin_profile TO authenticated USING (((auth.uid() = id) AND (auth.role() = 'authenticated'::text))) WITH CHECK (((auth.uid() = id) AND (auth.role() = 'authenticated'::text)));


--
-- Name: admin_activity_log Authenticated admins can delete activity_log; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Authenticated admins can delete activity_log" ON public.admin_activity_log FOR DELETE TO authenticated USING (true);


--
-- Name: about_content Authenticated admins can manage about_content; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Authenticated admins can manage about_content" ON public.about_content TO authenticated USING ((auth.role() = 'authenticated'::text)) WITH CHECK ((auth.role() = 'authenticated'::text));


--
-- Name: certifications Authenticated admins can manage certifications; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Authenticated admins can manage certifications" ON public.certifications TO authenticated USING ((auth.role() = 'authenticated'::text)) WITH CHECK ((auth.role() = 'authenticated'::text));


--
-- Name: contact_page_details Authenticated admins can manage contact_page_details; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Authenticated admins can manage contact_page_details" ON public.contact_page_details TO authenticated USING ((auth.role() = 'authenticated'::text)) WITH CHECK ((auth.role() = 'authenticated'::text));


--
-- Name: contact_submissions Authenticated admins can manage contact_submissions; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Authenticated admins can manage contact_submissions" ON public.contact_submissions TO authenticated USING ((auth.role() = 'authenticated'::text)) WITH CHECK ((auth.role() = 'authenticated'::text));


--
-- Name: hero_content Authenticated admins can manage hero_content (production ideal); Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Authenticated admins can manage hero_content (production ideal)" ON public.hero_content TO authenticated USING ((auth.role() = 'authenticated'::text)) WITH CHECK ((auth.role() = 'authenticated'::text));


--
-- Name: legal_documents Authenticated admins can manage legal_documents; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Authenticated admins can manage legal_documents" ON public.legal_documents TO authenticated USING ((auth.role() = 'authenticated'::text)) WITH CHECK ((auth.role() = 'authenticated'::text));


--
-- Name: projects Authenticated admins can manage projects; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Authenticated admins can manage projects" ON public.projects TO authenticated USING ((auth.role() = 'authenticated'::text)) WITH CHECK ((auth.role() = 'authenticated'::text));


--
-- Name: resume_education Authenticated admins can manage resume_education; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Authenticated admins can manage resume_education" ON public.resume_education TO authenticated USING ((auth.role() = 'authenticated'::text)) WITH CHECK ((auth.role() = 'authenticated'::text));


--
-- Name: resume_experience Authenticated admins can manage resume_experience; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Authenticated admins can manage resume_experience" ON public.resume_experience TO authenticated USING ((auth.role() = 'authenticated'::text)) WITH CHECK ((auth.role() = 'authenticated'::text));


--
-- Name: resume_key_skill_categories Authenticated admins can manage resume_key_skill_categories; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Authenticated admins can manage resume_key_skill_categories" ON public.resume_key_skill_categories TO authenticated USING ((auth.role() = 'authenticated'::text)) WITH CHECK ((auth.role() = 'authenticated'::text));


--
-- Name: resume_key_skills Authenticated admins can manage resume_key_skills; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Authenticated admins can manage resume_key_skills" ON public.resume_key_skills TO authenticated USING ((auth.role() = 'authenticated'::text)) WITH CHECK ((auth.role() = 'authenticated'::text));


--
-- Name: resume_languages Authenticated admins can manage resume_languages; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Authenticated admins can manage resume_languages" ON public.resume_languages TO authenticated USING ((auth.role() = 'authenticated'::text)) WITH CHECK ((auth.role() = 'authenticated'::text));


--
-- Name: resume_meta Authenticated admins can manage resume_meta; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Authenticated admins can manage resume_meta" ON public.resume_meta TO authenticated USING ((auth.role() = 'authenticated'::text)) WITH CHECK ((auth.role() = 'authenticated'::text));


--
-- Name: site_settings Authenticated admins can manage site_settings; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Authenticated admins can manage site_settings" ON public.site_settings TO authenticated USING ((auth.role() = 'authenticated'::text)) WITH CHECK ((auth.role() = 'authenticated'::text));


--
-- Name: skill_categories Authenticated admins can manage skill_categories; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Authenticated admins can manage skill_categories" ON public.skill_categories TO authenticated USING ((auth.role() = 'authenticated'::text)) WITH CHECK ((auth.role() = 'authenticated'::text));


--
-- Name: skills Authenticated admins can manage skills; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Authenticated admins can manage skills" ON public.skills TO authenticated USING ((auth.role() = 'authenticated'::text)) WITH CHECK ((auth.role() = 'authenticated'::text));


--
-- Name: social_links Authenticated admins can manage social_links; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Authenticated admins can manage social_links" ON public.social_links TO authenticated USING ((auth.role() = 'authenticated'::text)) WITH CHECK ((auth.role() = 'authenticated'::text));


--
-- Name: timeline_events Authenticated admins can manage timeline_events; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Authenticated admins can manage timeline_events" ON public.timeline_events TO authenticated USING ((auth.role() = 'authenticated'::text)) WITH CHECK ((auth.role() = 'authenticated'::text));


--
-- Name: admin_activity_log Authenticated admins can read activity_log; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Authenticated admins can read activity_log" ON public.admin_activity_log FOR SELECT TO authenticated USING (true);


--
-- Name: project_views Authenticated admins can read project views; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Authenticated admins can read project views" ON public.project_views FOR SELECT TO authenticated USING ((auth.role() = 'authenticated'::text));


--
-- Name: resume_downloads Authenticated admins can read resume_downloads; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Authenticated admins can read resume_downloads" ON public.resume_downloads FOR SELECT TO authenticated USING ((auth.role() = 'authenticated'::text));


--
-- Name: skill_interactions Authenticated admins can read skill_interactions; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Authenticated admins can read skill_interactions" ON public.skill_interactions FOR SELECT TO authenticated USING ((auth.role() = 'authenticated'::text));


--
-- Name: visitor_logs Authenticated admins can read visitor_logs; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Authenticated admins can read visitor_logs" ON public.visitor_logs FOR SELECT TO authenticated USING ((auth.role() = 'authenticated'::text));


--
-- Name: admin_activity_log Authenticated users can insert their own activity logs; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Authenticated users can insert their own activity logs" ON public.admin_activity_log FOR INSERT TO authenticated WITH CHECK (((auth.uid())::text = user_identifier));


--
-- Name: about_content DEV: Anon users can manage about_content; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "DEV: Anon users can manage about_content" ON public.about_content TO anon USING (true) WITH CHECK (true);


--
-- Name: admin_activity_log DEV: Anon users can manage admin_activity_log; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "DEV: Anon users can manage admin_activity_log" ON public.admin_activity_log TO anon USING (true) WITH CHECK (true);


--
-- Name: admin_profile DEV: Anon users can manage admin_profile; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "DEV: Anon users can manage admin_profile" ON public.admin_profile TO anon USING (true) WITH CHECK (true);


--
-- Name: certifications DEV: Anon users can manage certifications; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "DEV: Anon users can manage certifications" ON public.certifications TO anon USING (true) WITH CHECK (true);


--
-- Name: contact_page_details DEV: Anon users can manage contact_page_details; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "DEV: Anon users can manage contact_page_details" ON public.contact_page_details TO anon USING (true) WITH CHECK (true);


--
-- Name: contact_submissions DEV: Anon users can manage contact_submissions; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "DEV: Anon users can manage contact_submissions" ON public.contact_submissions TO anon USING (true) WITH CHECK (true);


--
-- Name: hero_content DEV: Anon users can manage hero_content; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "DEV: Anon users can manage hero_content" ON public.hero_content TO anon USING (true) WITH CHECK (true);


--
-- Name: legal_documents DEV: Anon users can manage legal_documents; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "DEV: Anon users can manage legal_documents" ON public.legal_documents TO anon USING (true) WITH CHECK (true);


--
-- Name: projects DEV: Anon users can manage projects; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "DEV: Anon users can manage projects" ON public.projects TO anon USING (true) WITH CHECK (true);


--
-- Name: resume_education DEV: Anon users can manage resume_education; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "DEV: Anon users can manage resume_education" ON public.resume_education TO anon USING (true) WITH CHECK (true);


--
-- Name: resume_experience DEV: Anon users can manage resume_experience; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "DEV: Anon users can manage resume_experience" ON public.resume_experience TO anon USING (true) WITH CHECK (true);


--
-- Name: resume_key_skill_categories DEV: Anon users can manage resume_key_skill_categories; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "DEV: Anon users can manage resume_key_skill_categories" ON public.resume_key_skill_categories TO anon USING (true) WITH CHECK (true);


--
-- Name: resume_key_skills DEV: Anon users can manage resume_key_skills; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "DEV: Anon users can manage resume_key_skills" ON public.resume_key_skills TO anon USING (true) WITH CHECK (true);


--
-- Name: resume_languages DEV: Anon users can manage resume_languages; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "DEV: Anon users can manage resume_languages" ON public.resume_languages TO anon USING (true) WITH CHECK (true);


--
-- Name: resume_meta DEV: Anon users can manage resume_meta; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "DEV: Anon users can manage resume_meta" ON public.resume_meta TO anon USING (true) WITH CHECK (true);


--
-- Name: site_settings DEV: Anon users can manage site_settings; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "DEV: Anon users can manage site_settings" ON public.site_settings TO anon USING (true) WITH CHECK (true);


--
-- Name: skill_categories DEV: Anon users can manage skill_categories; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "DEV: Anon users can manage skill_categories" ON public.skill_categories TO anon USING (true) WITH CHECK (true);


--
-- Name: skills DEV: Anon users can manage skills; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "DEV: Anon users can manage skills" ON public.skills TO anon USING (true) WITH CHECK (true);


--
-- Name: social_links DEV: Anon users can manage social_links; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "DEV: Anon users can manage social_links" ON public.social_links TO anon USING (true) WITH CHECK (true);


--
-- Name: timeline_events DEV: Anon users can manage timeline_events; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "DEV: Anon users can manage timeline_events" ON public.timeline_events TO anon USING (true) WITH CHECK (true);


--
-- Name: project_views DEV: Anon users can read project views (for admin); Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "DEV: Anon users can read project views (for admin)" ON public.project_views FOR SELECT TO anon USING (true);


--
-- Name: resume_downloads DEV: Anon users can read resume_downloads (for admin); Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "DEV: Anon users can read resume_downloads (for admin)" ON public.resume_downloads FOR SELECT TO anon USING (true);


--
-- Name: visitor_logs DEV: Anon users can read visitor_logs (for admin); Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "DEV: Anon users can read visitor_logs (for admin)" ON public.visitor_logs FOR SELECT TO anon USING (true);


--
-- Name: contact_submissions Public can insert contact_submissions; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Public can insert contact_submissions" ON public.contact_submissions FOR INSERT TO authenticated, anon WITH CHECK (true);


--
-- Name: project_views Public can insert project views; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Public can insert project views" ON public.project_views FOR INSERT TO authenticated, anon WITH CHECK (true);


--
-- Name: resume_downloads Public can insert resume_download records; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Public can insert resume_download records" ON public.resume_downloads FOR INSERT TO authenticated, anon WITH CHECK (true);


--
-- Name: skill_interactions Public can insert skill_interactions; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Public can insert skill_interactions" ON public.skill_interactions FOR INSERT TO authenticated, anon WITH CHECK (true);


--
-- Name: visitor_logs Public can insert visitor_logs; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Public can insert visitor_logs" ON public.visitor_logs FOR INSERT TO authenticated, anon WITH CHECK (true);


--
-- Name: about_content Public can read about_content; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Public can read about_content" ON public.about_content FOR SELECT USING (true);


--
-- Name: admin_profile Public can read admin_profile (for display); Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Public can read admin_profile (for display)" ON public.admin_profile FOR SELECT USING (true);


--
-- Name: contact_page_details Public can read contact_page_details; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Public can read contact_page_details" ON public.contact_page_details FOR SELECT USING (true);


--
-- Name: hero_content Public can read hero_content; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Public can read hero_content" ON public.hero_content FOR SELECT USING (true);


--
-- Name: legal_documents Public can read legal_documents; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Public can read legal_documents" ON public.legal_documents FOR SELECT USING (true);


--
-- Name: resume_meta Public can read resume_meta; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Public can read resume_meta" ON public.resume_meta FOR SELECT USING (true);


--
-- Name: site_settings Public can read site_settings (for middleware); Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Public can read site_settings (for middleware)" ON public.site_settings FOR SELECT USING (true);


--
-- Name: certifications Public certifications are viewable by everyone; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Public certifications are viewable by everyone" ON public.certifications FOR SELECT USING (true);


--
-- Name: projects Public projects are viewable by everyone; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Public projects are viewable by everyone" ON public.projects FOR SELECT USING (true);


--
-- Name: resume_education Public resume_education is viewable by everyone; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Public resume_education is viewable by everyone" ON public.resume_education FOR SELECT USING (true);


--
-- Name: resume_experience Public resume_experience is viewable by everyone; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Public resume_experience is viewable by everyone" ON public.resume_experience FOR SELECT USING (true);


--
-- Name: resume_key_skill_categories Public resume_key_skill_categories is viewable by everyone; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Public resume_key_skill_categories is viewable by everyone" ON public.resume_key_skill_categories FOR SELECT USING (true);


--
-- Name: resume_key_skills Public resume_key_skills is viewable by everyone; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Public resume_key_skills is viewable by everyone" ON public.resume_key_skills FOR SELECT USING (true);


--
-- Name: resume_languages Public resume_languages is viewable by everyone; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Public resume_languages is viewable by everyone" ON public.resume_languages FOR SELECT USING (true);


--
-- Name: skill_categories Public skill_categories are viewable by everyone; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Public skill_categories are viewable by everyone" ON public.skill_categories FOR SELECT USING (true);


--
-- Name: skills Public skills are viewable by everyone; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Public skills are viewable by everyone" ON public.skills FOR SELECT USING (true);


--
-- Name: social_links Public social_links are viewable by everyone; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Public social_links are viewable by everyone" ON public.social_links FOR SELECT USING (true);


--
-- Name: timeline_events Public timeline_events are viewable by everyone; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Public timeline_events are viewable by everyone" ON public.timeline_events FOR SELECT USING (true);


--
-- Name: about; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.about ENABLE ROW LEVEL SECURITY;

--
-- Name: about_content; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.about_content ENABLE ROW LEVEL SECURITY;

--
-- Name: admin_activity_log; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.admin_activity_log ENABLE ROW LEVEL SECURITY;

--
-- Name: admin_profile; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.admin_profile ENABLE ROW LEVEL SECURITY;

--
-- Name: certifications; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.certifications ENABLE ROW LEVEL SECURITY;

--
-- Name: contact_page_details; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.contact_page_details ENABLE ROW LEVEL SECURITY;

--
-- Name: contact_submissions; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.contact_submissions ENABLE ROW LEVEL SECURITY;

--
-- Name: hero_content; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.hero_content ENABLE ROW LEVEL SECURITY;

--
-- Name: legal_documents; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.legal_documents ENABLE ROW LEVEL SECURITY;

--
-- Name: project_views; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.project_views ENABLE ROW LEVEL SECURITY;

--
-- Name: projects; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.projects ENABLE ROW LEVEL SECURITY;

--
-- Name: resume_downloads; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.resume_downloads ENABLE ROW LEVEL SECURITY;

--
-- Name: resume_education; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.resume_education ENABLE ROW LEVEL SECURITY;

--
-- Name: resume_experience; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.resume_experience ENABLE ROW LEVEL SECURITY;

--
-- Name: resume_key_skill_categories; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.resume_key_skill_categories ENABLE ROW LEVEL SECURITY;

--
-- Name: resume_key_skills; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.resume_key_skills ENABLE ROW LEVEL SECURITY;

--
-- Name: resume_languages; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.resume_languages ENABLE ROW LEVEL SECURITY;

--
-- Name: resume_meta; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.resume_meta ENABLE ROW LEVEL SECURITY;

--
-- Name: site_settings; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.site_settings ENABLE ROW LEVEL SECURITY;

--
-- Name: skill_categories; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.skill_categories ENABLE ROW LEVEL SECURITY;

--
-- Name: skill_interactions; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.skill_interactions ENABLE ROW LEVEL SECURITY;

--
-- Name: skills; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.skills ENABLE ROW LEVEL SECURITY;

--
-- Name: social_links; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.social_links ENABLE ROW LEVEL SECURITY;

--
-- Name: timeline_events; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.timeline_events ENABLE ROW LEVEL SECURITY;

--
-- Name: visitor_logs; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.visitor_logs ENABLE ROW LEVEL SECURITY;

--
-- Name: TABLE about; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.about TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.about TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.about TO service_role;


--
-- Name: TABLE about_content; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.about_content TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.about_content TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.about_content TO service_role;


--
-- Name: TABLE admin_activity_log; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.admin_activity_log TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.admin_activity_log TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.admin_activity_log TO service_role;


--
-- Name: TABLE admin_profile; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.admin_profile TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.admin_profile TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.admin_profile TO service_role;


--
-- Name: TABLE certifications; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.certifications TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.certifications TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.certifications TO service_role;


--
-- Name: TABLE contact_page_details; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.contact_page_details TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.contact_page_details TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.contact_page_details TO service_role;


--
-- Name: TABLE contact_submissions; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.contact_submissions TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.contact_submissions TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.contact_submissions TO service_role;


--
-- Name: TABLE hero_content; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.hero_content TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.hero_content TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.hero_content TO service_role;


--
-- Name: TABLE legal_documents; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.legal_documents TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.legal_documents TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.legal_documents TO service_role;


--
-- Name: TABLE project_views; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.project_views TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.project_views TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.project_views TO service_role;


--
-- Name: TABLE projects; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.projects TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.projects TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.projects TO service_role;


--
-- Name: TABLE resume_downloads; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.resume_downloads TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.resume_downloads TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.resume_downloads TO service_role;


--
-- Name: TABLE resume_education; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.resume_education TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.resume_education TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.resume_education TO service_role;


--
-- Name: TABLE resume_experience; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.resume_experience TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.resume_experience TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.resume_experience TO service_role;


--
-- Name: TABLE resume_key_skill_categories; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.resume_key_skill_categories TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.resume_key_skill_categories TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.resume_key_skill_categories TO service_role;


--
-- Name: TABLE resume_key_skills; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.resume_key_skills TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.resume_key_skills TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.resume_key_skills TO service_role;


--
-- Name: TABLE resume_languages; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.resume_languages TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.resume_languages TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.resume_languages TO service_role;


--
-- Name: TABLE resume_meta; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.resume_meta TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.resume_meta TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.resume_meta TO service_role;


--
-- Name: TABLE site_settings; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.site_settings TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.site_settings TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.site_settings TO service_role;


--
-- Name: TABLE skill_categories; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.skill_categories TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.skill_categories TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.skill_categories TO service_role;


--
-- Name: TABLE skill_interactions; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.skill_interactions TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.skill_interactions TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.skill_interactions TO service_role;


--
-- Name: TABLE skills; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.skills TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.skills TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.skills TO service_role;


--
-- Name: TABLE social_links; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.social_links TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.social_links TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.social_links TO service_role;


--
-- Name: TABLE timeline_events; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.timeline_events TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.timeline_events TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.timeline_events TO service_role;


--
-- Name: TABLE visitor_logs; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.visitor_logs TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.visitor_logs TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.visitor_logs TO service_role;
